@model CodeFirst.Models.Admin.Bills

@{
    ViewBag.Title = "AddInBill";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<script type="text/javascript">
    $(document).ready(function () {
        $("#txtProductCode").focus();
        $("#btnNew").hide();

        var validator = $(this).validate({
            submitHandler: function () { SaveRecord(); },
            rules:
                {
                    txtProductCode:
                        {
                            Required: true,
                        },
                    ItemName:
                        {
                            Required: true,
                        },
                    Price:
                        {
                            Required: true,
                        },
                    Qty:
                        {
                            Required: true,
                        }
                },
            messages:
                {
                    txtProductCode:
                       {
                           Required: "Required",
                       },
                    ItemName:
                        {
                            Required: "Required",
                        },
                    Price:
                        {
                            Required: "Required",
                        },
                    Qty:
                        {
                            Required: "Required",
                        }
                }
        });


        LoadGrid();

        //ShiwHide Print and New SalesBill button
        $("#btnPrint").click(function () {

            $.ajax({
                url: '/Admin/PrintBill',
                type: 'GET',
                success: function (data) {
                    $("#btnNew").show();
                    $("#btnPrint").hide();
                },
                error: function (error) {
                    $("#btnNew").show();
                    $("#btnPrint").hide();
                }
            });
        });

        $("#btnNew").click(function () {
            alert("Hi");
            $.ajax({
                url: '/Admin/AddNewBill',
                type: 'POST',
                success: function (data) {
                    $("#ItemName").val("");
                    $("#Price").val("");
                    $("#Qty").val("");
                    $("#txtProductCode").val("");
                    $("#btnNew").hide();
                    $("#btnPrint").show();
                    LoadGrid();
                },
                error: function (error) {
                    alet("Failed");
                }
            });
        });

        //end Show Hide

        $("#txtProductCode").blur(function () {
            var values = $("#txtProductCode").val();
            if (values != undefined && values !== ' ' && values !== "" && values != null) {
                GetProduct(values);
            }
        });

      
    });

    function SaveRecord() {
        $.ajax({
            url: '/Admin/AddInBill',
            type: 'post',
            data: { ItemName: $("#ItemName").val(), Price: $("#Price").val(), Qty: $("#Qty").val(), ProductId: $("#ProductId").val() },
            success: function (data) {
                LoadGrid();
            },
            error: function (error) {
                alet("Failed");
            }
        });
    }

    function GetProduct(event) {
        $.ajax({
            url: '/Admin/GetProductByCode',
            type: 'post',
            data: { ProductCode: event },
            success: function (data) {
                debugger
                $("#txtProductCode").val(data.ProductCode);
                $("#ItemName").val(data.ItemName);
                $("#Price").val(data.Price);
                $("#ProductId").val(data.Id);

            },
            error: function (error) {
                alet("Failed");
            }
        });
    }

    function LoadGrid() {
        $("#gridPrintBill").kendoGrid({
            sortable: true,
            pageable: false,
            groupable: false,

            dataSource: {
                transport: {
                    read: "/Admin/GetCurrentBill",
                    dataType: "json"
                },
                schema: {
                    model: {
                        fields: {
                            ItemName: { type: "string" },
                            Price: { type: "number" },
                            Qty: { type: "number" },
                            Total: { type: "number" }
                        }
                    }
                },
                //pageSize: 50
            },
            columns: [
            { field: "ItemName", title: "Item Name", sortable: false, width: 60 },
            { field: "Price", title: "Price", sortable: true, width: 10 },
            { field: "Qty", title: "Quantity", sortable: true, width: 10 },
            { field: "Total", title: "Total", sortable: true, width: 20 },
            ],
            dataBound: function (event) {

                var grid = $("#gridPrintBill").data("kendoGrid");
                var GrandToal = 0;

                $(grid._data).each(function (index, element) {
                    GrandToal = GrandToal + element.Total;
                });

                $("#txtGrandTotal").val(GrandToal);
            }
        });
    }

    function printDiv(divID) {
        debugger
        var divElements = document.getElementById(divID).innerHTML;
        var oldPage = document.body.innerHTML;
        document.body.innerHTML = "<html><head><title></title></head><body>" + divElements + "</body>";
        window.print();
        document.body.innerHTML = oldPage;
    }

</script>

@using (Html.BeginForm())
{
    
    <div id="gridPrintBill">

        <div style="text-align: right">
            Grand Total:
            <input type="text" id="txtGrandTotal" value="" readonly="true" style="width: 200px; background-color: aqua" />
            <input type="button" id="btnPrint" name="btnPrint" value="Print Bill" onclick="javascript: printDiv('gridPrintBill')" />
            <input type="button" id="btnNew" name="btnNew" value="New Sales" />
        </div>
    </div>
 
    @Html.ValidationSummary(true)

    <fieldset>
        <legend>Sale Items</legend>

        <div class="editor-label">
            Enter Product Code:
        </div>
        <div class="editor-field">
            <input type="text" id="txtProductCode" name="txtProductCode" required />
            @Html.HiddenFor(mode => mode.ProductId)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.ItemName)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.ItemName)
            @Html.ValidationMessageFor(model => model.ItemName)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.Price)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.Price)
            @Html.ValidationMessageFor(model => model.Price)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.Qty)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.Qty)
            @Html.ValidationMessageFor(model => model.Qty)
        </div>

        <p>
            <input type="submit" value="Save" />
        </p>
    </fieldset>
}

<div>
    @Html.ActionLink("Back to List", "Index")
</div>

